html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

body{
    font-size: large;
    margin: 1em;
    margin-left: 5em;
}

h1{
    color: darkblue;
    margin-left: 2em;
}

table thead{
    background-color:deepskyblue;
}
table, th, td {
    border: 1px solid black;
  }
  table{
      width:80%;
      border-collapse: collapse;
  }

input{
    margin-bottom: 2em;
}
p.message{
    background-color: greenyellow;
}
input#plus{
    background-color: green;
    color: #fff;
    margin:auto;
}
input#moins{
    background-color: red;
    color: #fff;
    margin:auto;
}
